<div class="login-pane container">
  <div class="row justify-content-center">
    <div class="col col-4">
      <div class="card">
        <form [formGroup]="loginForm">
          <div class="form-group">
            <label>Nazwa użytkownika</label>
            <input type="text" formControlName="name" class="form-control">
          </div>
          <div class="form-group">
            <label>Nazwa użytkownika</label>
            <input type="password" formControlName="password" class="form-control">
          </div>
        </form>
        <button (click)="signIn()">Loguj</button>
      </div>
    </div>
  </div>
</div>
