<div class="admin-page container">
  <div class="row">
    <div class="col col-4">
      <form [formGroup]="productForm">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Etykieta">
          <small class="form-text" *ngIf="getControl('name').dirty && getControl('name').hasError('required')">Pole wymagane</small>
          <small class="form-text" *ngIf="getControl('name').dirty && getControl('name').hasError('maxlength')">Za długie</small>
        </div>
        <div class="form-group">
          <input type="number" formControlName="price" class="form-control" placeholder="Cena">
          <small class="form-text" *ngIf=" getControl('price').dirty && getControl('price').invalid">Nieprawidłowa wartość</small>
          <small class="form-text" *ngIf=" getControl('price').dirty && getControl('price').hasError('min')">Za mało</small>
        </div>
        <div class="form-group is-invalid">
          <input type="number" formControlName="count" class="form-control" placeholder="Liczba">
          <small class="form-text" *ngIf=" getControl('count').dirty && getControl('count').invalid">Nieprawidłowa wartość</small>
        </div>
      </form>
      <button class="btn btn-primary" (click)="addProduct()" [disabled]="!productForm.valid">{{bttnLabel}}</button>
    </div>
  </div>

  <div class="row">
    <div class="col col-4">
      <ul class="list-group">
        <li *ngFor="let product of (products$ | async)" class="list-group-item">
          {{product.name}}
          <button class="float-right btn btn-primary" (click)="getProduct(product.id)">Aktualizuj</button>
        </li>
      </ul>
    </div>
  </div>
</div>
