<!--The content below is only a placeholder and can be replaced.-->
<ul class="nav">
  <li class="nav-item">
    <a routerLink="/" class="nav-link active" routerLinkActive="active">Strona główna</a>
  </li>
  <li class="nav-item">
    <a routerLink="/about-us" class="nav-link" routerLinkActive="active">O nas</a>
  </li>
  <li class="nav-item">
    <a routerLink="/users" class="nav-link" routerLinkActive="active">Użytkownicy</a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin" class="nav-link" routerLinkActive="active">Pane administracyjny</a>
  </li>
</ul>
<router-outlet></router-outlet>
