<div class="container">
  <div class="row">
    <div class="col">
      <h1>Car Shop "ShopExPol"</h1>
    </div>
  </div>
  <div class="row">
    <div class="col col-6">
      <img class="img-fluid" src="https://djx5h8pabpett.cloudfront.net/wp-content/uploads/2016/04/07091054/Car_Shop_6201.jpg">
    </div>
  </div>
</div>

